*{
  margin: 0px;
  padding: 0px;
  font-family: 'Oxanium', serif;
  color: #ffffff;
  
}
body{
  background-color:gray;
  height: 1002px;
  width: 1440px;
  margin: auto;
  box-shadow: black 0 0 110px 10px;
}
.header_container{
  background-image: url(https://cdn.pixabay.com/photo/2014/05/02/21/50/home-office-336377_1280.jpg);
  height: 1002px;
  width: 1440px;
  background-size: cover;
}
.header_nav{
  width: 1440px;
  height: 98px;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 0.1fr 3fr 0.15fr;
  grid-template-rows: 1fr 1fr 1fr;
  
  
}
.nav_links{
  color: aliceblue;
  justify-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  grid-column: 2;
  grid-row: 2;
  line-height: 28px;
  text-decoration: none;
  margin-left: 28px;
  
  

}
#home{
  color:#EB1919;
  font-weight: normal;
  font-size: 38px;

}
.bacground_content{
  width: 1440px;
  height: 904px;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: grid;
  font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
grid-template-columns: 1.03fr 2fr 1fr;
grid-template-rows: 1fr 1fr 1fr;

}
.page_text{
  grid-column: 2;
  grid-row: 2;
  align-self:flex-start;  


}
.page_text::first-line{
  color: #EB1919;
}
#future{
  color: #DBFA1D;
}
#under_text{
  font-size: 30px;
}

#bottom-text-page{
  grid-column: 2;
  grid-row: 3;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}
#now{
  color: #DBFA1D;
  font-style: normal;
  font-weight: bold;
  font-size: 40px; 
  border: 5px solid #DBFA1D;
  border-radius: 31px;
  padding-left: 15px;
  padding-right: 15px;  
  padding-top: 5px;
  
}
/*Section*/
.under_header_content{
  width: 1440px;
  height: 822px;
  background-color: #ffffff;
  display:grid;
  grid-template-columns: 1fr 1fr;
  
  


}
.div1{
  width: 720px;
  height: 822px;
  background-image: url(https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849821_1280.jpg);
  
  grid-column: 1;
}
.div2{
  height: 822px;
  width: 720px;
  background-color:#ffffff;
  grid-column: 2;
  grid-template-rows: repeat(10,1fr);
  display: grid;
 
   
}
.div2_text{
  grid-row: 3;
  font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
margin-left: 99px;
color: #000000;


}
  .Creativity{
    color: red;
    font-weight: ;
  }
  .under_creativity{
    color: #000;
    grid-row:4;
    font-size: 18px;
    font-weight: bold;
    margin-left: 99px;

    
  }
  .bottom_text{
    grid-row: 5;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 99px;
    margin-right: 73px;
  }
  .div3{
    display: grid;
    width: 720px;
    height: 126px;
    background-color: #E0E0E0;
    grid-row: 7;
    grid-template-rows: repeat(3,1fr);
    
  }
  .div3_text{
    color: #E21919;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    grid-row: 2;
    padding-left: 99px;
    padding-right: 99px;
  }
  /*third page*/
  .third_gape{
    background-image: url(https://cdn.pixabay.com/photo/2014/02/01/18/00/money-256314_1280.jpg);
    width: 1440px;
    height: 542px;
    background-size: cover;
  }
  .black_background{
    width: 1440px;
    height: 542px;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: end;
    align-items: center;  
  }


  .third_page_left{
   grid-column: 1;
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-rows: repeat(3,1fr);
   align-items: center;
   
  
   
   
  }
  .We_work_Creativity{
    grid-column: 2;
    font-size: 28px;
    line-height: 28px;
    padding-right: 69px;
    padding-left: 185px;
    padding-top: 140px;
 
    
    
  }
  .Creativity{
    color: #E21919;
    font-size: 28px;
  }
  .right_text{
    grid-column: 2;
    grid-row: 2;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-right: 69px;
    padding-left: 185px;
    
    
  }
  .third_page_right{
    grid-column: 2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    
    
  }
  .img1{
    height: 100px;
    grid-column: 1;
    grid-row: 1;
  }
  .img2{
    grid-column: 1;
    grid-row: 2;
    height: 100px;
  }
  .img3{
    grid-column: 1;
    grid-row: 3;
    height: 100px;
  }
  .web_design{
   grid-column: 2;
   grid-row: 1;
   padding-left: 49px;
   padding-right: 237px;
  }
.web_develop{
  grid-column: 2;
  grid-row: 2;
}
.costom_work{
  grid-column: 2;
  grid-row: 3;

}
.web_design::first-line{ 
  color: #E21919;
  font-size: 24px;
  font-weight: bold;
  
}
.web_develop::first-line{
  color: #E21919;
  font-weight: bold;
}
.costom_work::first-line{
  color: #E21919;
  font-weight: bold;
}
.web_design,.web_develop,.costom_work{
  font-style: normal;
font-size: 20px;
line-height: 24px;
padding-left: 49px;
   padding-right: 237px;
}
.four_page{
  width: 1440px;
  height: 822px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}